.navbar {
	position: relative;
	background-color: #221b39;
	height: 100px;
	/* padding: 15px 25px; */
}

.container {
	/* background-color: blue; */
	max-width: 1000px;
	display: flex;
	justify-content: space-around;
	color: white;
	/* font-size: 16px; */
	font-size: 18px;
	margin: 0 auto;
	padding-top: 15px;
}

#logo {
	display: flex;
	/* background-color: blue; */
	height: 70px;
}

#logo p {
	font-size: 20px;
	padding-top: 20px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.purp {
	background-color: purple;
}

.nav-elements {
	padding-top: 20px;
}

.nav-elements ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
	margin-right: 60px;
}

.nav-elements ul li:hover {
	color: #7cefd8;
}

.nav-elements ul a {
	/* font-size: 16px; */
	font-weight: 400;
	color: inherit;
	text-decoration: none;
	opacity: 0.7;
}

.nav-elements ul a.active {
	color: #63ebd0;
	font-weight: 400;
	position: relative;
	animation: fadeInAnimation 0.5s ease-in;
	opacity: 1;
}

.nav-elements ul a.active::after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #00ffcc;
	animation: fadeInAnimation 0.5s ease-in;
	/* opacity: 1; */
}

@keyframes fadeInAnimation {
	from {
		opacity: 0.7;
	}
	to {
		opacity: 1;
	}
}
